body{
    color:rgb(208, 255, 0);
    font-size: 20px;

}
.cr{
    color: rebeccapurple;


}
.bb{
background-color: chartreuse;
font-family: Arial, Helvetica, sans-serif;

}
.ft{
color: brown;

}
.tt{
font-size: 20px;

}